# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# DB
db.sqlite3

# Static Files
staticfiles/

# Media Files
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db